HTTP_ADDR=:8080
HTTP_API_KEY=
HTTP_AUTH_DISABLED=true
HTTP_TIMEOUT_SECONDS=30
HTTP_BODY_LIMIT=1M
HTTP_REQUESTS_PER_SECOND=20
HTTP_BURST=10
WEB_DIST_DIR=web/dist
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=eth_fund_trace
ETHERSCAN_API_KEY=
ETHERSCAN_BASE_URL=https://api.etherscan.io/v2/api
ETHERSCAN_PAGE_SIZE=1000
ETHERSCAN_MAX_PAGES=10
ETHERSCAN_REQUESTS_PER_SECOND=3
ETHERSCAN_BURST=1
ETHERSCAN_MAX_RETRIES=5
ETHERSCAN_RETRY_BASE_MS=1000
ETHERSCAN_HTTP_TIMEOUT_SECONDS=120
SYNC_CACHE_TTL_MINUTES=15
SYNC_CONFIRMATIONS=12
SYNC_QUEUE_SIZE=100
SYNC_MAX_RECORDS_PER_ACTION=50000
TRACE_EXISTING_DATA_ONLY=false
ETHEREUM_SYNC_START_BLOCK=21525891
ETHEREUM_SYNC_END_BLOCK=25860787
ETHEREUM_RPC_URL=
ARBITRUM_RPC_URL=https://arb1.arbitrum.io/rpc
RELAY_STATUS_URL=https://api.relay.link
THORCHAIN_STATUS_URL=https://gateway.liquify.com/chain/thorchain_api
THORCHAIN_CLIENT_ID=eth-fund-trace
MAYACHAIN_STATUS_URL=https://mayanode.mayachain.info
BITCOIN_API_URL=https://mempool.space
CROSS_CHAIN_HTTP_TIMEOUT_SECONDS=15
